
@import "mq";

$font_type0: 700 48px/1.2 "SF Pro Display", Helvetica, Arial, serif;
$font_type1: 700 150px/1.2 "Harmonia Sans Pro Cyr", Helvetica, Arial, serif;
$font_type2: 900 300px/1.2 "Poppins", Helvetica, Arial, serif;
$font_type3: 900 300px/1.2 "MADE TOMMY", Helvetica, Arial, serif;

$font_color_type0: rgb(0, 0, 0);

$background_type0: var(--src) center center / contain no-repeat;

.w1- {
  &site {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  &site.layout {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    margin: 0px;
  }
  §ion1__container {
    display: flex;
    background-color: rgb(197, 197, 197);
  }
  §ion1__container.layout {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    margin: 0px;
  }
  §ion1__container-spacer {
    display: flex;
    flex: 0 1 217px;
  }
  §ion1__home {
    font: $font_type0;
    color: $font_color_type0;
    letter-spacing: 0px;
  }
  §ion1__home.layout {
    position: relative;
    margin: 156px 0px;
  }
  §ion1__container-spacer1 {
    display: flex;
    flex: 0 1 57px;
  }
  §ion1__features {
    font: $font_type0;
    color: $font_color_type0;
    letter-spacing: 0px;
  }
  §ion1__features.layout {
    position: relative;
    margin: 156px 0px;
  }
  §ion1__container-spacer2 {
    display: flex;
    flex: 0 1 55px;
  }
  §ion1__blog {
    font: $font_type0;
    color: $font_color_type0;
    letter-spacing: 0px;
  }
  §ion1__blog.layout {
    position: relative;
    margin: 156px 0px;
  }
  §ion1__container-spacer3 {
    display: flex;
    flex: 0 1 57px;
  }
  §ion1__about {
    font: $font_type0;
    color: $font_color_type0;
    letter-spacing: 0px;
  }
  §ion1__about.layout {
    position: relative;
    margin: 156px 0px;
  }
  §ion2__container {
    display: flex;
  }
  §ion2__container.layout {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    min-height: 730px;
    margin: 0px;
  }
  §ion2__group {
    display: flex;
  }
  §ion2__group.layout {
    position: relative;
    overflow: visible;
    min-height: 604px;
    flex-grow: 1;
    margin: 63px 42px;
  }
  §ion2__dummy {
    display: flex;
    justify-content: flex-end;
    font: $font_type1;
    color: $font_color_type0;
    text-align: right;
    letter-spacing: 0px;
  }
  §ion2__dummy.layout {
    position: absolute;
    top: 387px;
    bottom: 37px;
    left: 46px;
    flex-grow: 1;
    right: 46px;
  }
  §ion2__image {
    background: $background_type0;
  }
  §ion2__image.layout {
    position: relative;
    height: 558px;
    width: 558px;
    min-width: 558px;
    margin: 46px 0px 0px;
  }
  §ion3__container {
    display: flex;
    flex-direction: column;
  }
  §ion3__container.layout {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    margin: 0px;
  }
  §ion3__dummy {
    font: $font_type2;
    color: $font_color_type0;
    letter-spacing: 0px;
  }
  §ion3__dummy.layout {
    position: relative;
    margin: 49px 0px 0px;
  }
  §ion3__dummy1 {
    display: flex;
    justify-content: flex-end;
    font: $font_type3;
    color: $font_color_type0;
    text-align: right;
    letter-spacing: 0px;
  }
  §ion3__dummy1.layout {
    position: relative;
    margin: 314px 0px 0px;
  }
  §ion4__container {
    display: flex;
  }
  §ion4__container.layout {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    margin: 0px;
  }
  §ion4__container-spacer {
    display: flex;
    flex: 0 1 161.6px;
  }
  §ion4__container-col {
    display: flex;
    flex: 0 1 330.67px;
  }
  §ion4__img {
    background: $background_type0;
  }
  §ion4__img.layout {
    position: relative;
    height: 620px;
    flex-grow: 1;
    margin: 161px 0px 307px;
  }
  §ion4__container-spacer1 {
    display: flex;
    flex: 0 1 187.73px;
  }
  §ion4__container-col1 {
    display: flex;
    flex: 0 1 344px;
  }
  §ion4__img1 {
    background: $background_type0;
    border-radius: 75px 75px 75px 75px;
  }
  §ion4__img1.layout {
    position: relative;
    height: 547px;
    flex-grow: 1;
    margin: 234px 1px 307px 0px;
  }
}
