.45_22 { 
	overflow:hidden;
}.e45_22 { 
	background-image:linear-gradient(0deg, rgba(255, 70.92602133750916, 70.92602133750916, 1) 0%,rgba(70.92602133750916, 255, 210.82224816083908, 1) 100%) ;
	width:1024px;
	height:3270px;
	position:absolute;
}.e45_23 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:1024px;
	height:369px;
	position:absolute;
	left:0px;
	top:0px;
}.e47_35 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:57px;
	position:absolute;
	left:217px;
	top:156px;
	font-family:SF Pro Display;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e47_36 { 
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:57px;
	position:absolute;
	left:418px;
	top:156px;
	font-family:SF Pro Display;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e47_37 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:57px;
	position:absolute;
	left:680px;
	top:156px;
	font-family:SF Pro Display;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e47_38 { 
	color:rgba(0, 0, 0, 1);
	width:135px;
	height:57px;
	position:absolute;
	left:849px;
	top:156px;
	font-family:SF Pro Display;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e59_41 { 
	width:944.2236938476562px;
	height:1037px;
	position:absolute;
	left:0px;
	top:1168px;
}.e45_24 { 
	color:rgba(0, 0, 0, 1);
	width:398.7886047363281px;
	height:134.67532348632812px;
	position:absolute;
	left:273.0916442871094px;
	top:0px;
	font-family:Harmonia Sans Pro Cyr;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e45_25 { 
	color:rgba(0, 0, 0, 1);
	width:944.2236938476562px;
	height:336.6883239746094px;
	position:absolute;
	left:0px;
	top:246.1565704345703px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e45_26 { 
	color:rgba(0, 0, 0, 1);
	width:800.5700073242188px;
	height:286.5591735839844px;
	position:absolute;
	left:28.43145751953125px;
	top:750.4408569335938px;
	font-family:MADE TOMMY;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
}.e59_44 { 
	width:343px;
	height:547px;
	position:absolute;
	left:558px;
	top:2106px;
}.e47_27 { 
	width:343px;
	height:547px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:75px;
	border-top-right-radius:75px;
	border-bottom-left-radius:75px;
	border-bottom-right-radius:75px;
	background-image:url(images/rectangle_596.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e47_28 { 
	width:330.6666564941406px;
	height:620px;
	position:absolute;
	left:161.60009765625px;
	top:2343px;
}.47_29 { 
	border:11.510416984558105px solid rgba(255, 91.80000364780426, 0, 1);
}.e47_29 { 
	width:330.6666564941406px;
	height:620px;
	position:absolute;
	left:0px;
	top:0px;
}.47_30 { 
	border:15.052083015441895px solid rgba(255, 0, 0, 1);
}.e47_30 { 
	width:330.6666564941406px;
	height:620px;
	position:absolute;
	left:0px;
	top:0px;
}.47_32 { 
	border:7.083333492279053px solid rgba(255, 0, 0, 1);
}.e47_32 { 
	width:330.6666564941406px;
	height:620px;
	position:absolute;
	left:0px;
	top:0px;
}.47_33 { 
	border:3.5416667461395264px solid rgba(255, 255, 255, 1);
}.e47_33 { 
	width:330.6666564941406px;
	height:620px;
	position:absolute;
	left:0px;
	top:0px;
}.e47_39 { 
	border-radius:500px;
	width:558px;
	height:558px;
	position:absolute;
	left:221px;
	top:443px;
}.e70_22 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:433px;
	height:433px;
	position:absolute;
	left:429px;
	top:1418px;
}